/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    margin-left: 20px;
    line-height: 50px;
    font-weight: bold;
}

nav{
margin-bottom: 30px;
background-color: #f3e9f1;
height: 60px;
}

.menuItem{
    display: flex;
    float: right;
    position: relative;
}
ul{
    list-style-type: none;
   width: 100%;  
}

#navItems{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.794);
    text-align: center;
}

#navItems  li{
    border-bottom: solid 2px black;
    color: whitesmoke;
    padding: 5px;
    font-size: 18px;
}
.fa-shopping-bag{
    visibility: hidden;
}

.logo img{
    width: 95px;
    margin-top: 5px;
    object-fit: cover;
}
button {
    width: 30px;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    float: right;
    cursor: pointer;
    line-height: 55px;
}

button i{
    font-size: 20px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1{
    color: rgb(46, 46, 54);
    font-size: 30px;
    font-weight: bold;
}

#bear{
    background-color: paleturquoise;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#myTeddy {
background-color: palevioletred;
   height: fit-content;
   margin: 5px;
}

#teddyImage {
    background-color: powderblue;
    width: 100%;
    height: 50%;
    object-fit:contain;
}

#teddyName{
    background-color: rebeccapurple;
    height: 15px;
    width: 50%;
}

#teddyPrice{
    background-color: salmon;
    height: 15px; 
    width: 50%;
    margin-top: 5px;
}

#teddyColors{
    background-color: steelblue;
    height: 15px; 
    width: 50%;
    margin-top: 5px;
}

#teddyInfo{
    background-color: violet;
    height: 15px; 
    width: 50%;
    margin-top: 5px;
}

/*footer*/
footer{
margin-top: 20px;
background-color: #f3e9f1;
padding: 10px;
}

.logoF img{
    width: 65px;
}
.navFooter{
    margin-top: 10px;

}
.socials{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 20%;
}
.socials i{
    font-size: 20px;
}